.oiu{
   background-image: url('https://wallpaper.dog/large/20552208.jpg');
   height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 700px;
}
.pyt{
    background-color: transparent;
    background-color:rgb(245, 141, 129);
    height: 370px;
    width: 600px;
    border-radius: 5%;
}
.ytr{
    margin-top: 5%;
    height: 500px;
    width: 300px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTH7bhOWa59MtFb5XdsStKXyqsxB7yBAPJSoGEgeT4g5Q&s");
    background-color: aqua;
}
.hnh{
    color: rgb(216, 252, 10);
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}