.div-out{
   background-color:black;
   height: 95px;
   margin-top: 0;
   padding-top: 2px;

}
li{
   display: inline;
   color: white;
}


.link{
   text-decoration: none;
   padding: 35px;
}
.rty{
   display: flex;

}
 .sd{

    padding-top: 0px;
 }  

.ul{
   
   padding-left: px;
}
.wpo{
   padding-bottom: 45px;
}
.wp{
   height: 35px;
   width: 350px;
}
.opv{
   height: 40px;
   width: 65px;

}
.pol{
   padding-left: 70px;
   padding-top: 13px;
}
.t6{
   height: 30px;
   width: 180px;
}