
.b1{
    max-width: 1000px;
}
.t1{
    box-shadow: 1px 1px 1px ;
    border-radius: 5px;
}
.e1{
    background-color:thistle;
    margin-left: 32%;
    text-align: center;
 height: 570px;
 width: 520px;
 border-style: solid;
 border-radius: 20px;
}
table{
    padding-left: 110px;
}
.h1{
    
    text-decoration: underline;
    
}
.out1{
  height: 650px;
  background-image: url('');
  background: rgb(9,68,241);
background: radial-gradient(circle, rgba(9,68,241,0.5215336134453781) 0%, rgba(236,252,227,1) 48%, rgba(253,253,253,1) 62%, rgba(200,5,238,1) 100%);
 
}




